<html xmlns:py="http://genshi.edgewall.org/">
<head>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
	<meta charset="utf-8"/>
	<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script src="/public/googlemap.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
	
	<script src="/public/current_location.js"></script>
</head>
<body>
	<h1>Current location of phone:</h1>
	<div id="map"></div>
</body>
</html>